@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Quicksand:wght@400;700&family=Roboto:ital,wght@0,100;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
    z-index: 100;
}

body {
    font-family: Quicksand;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    height: 68px;
    align-items: center;
    border-bottom: 1px #140404;
}

.logo {
    font-size: 40px;
    font-weight: 800;
    color: #021075;
    font-family: 'Quicksand', sans-serif;
}

.logo a {
    text-decoration: none;
}

.logo span {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: #477df1;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
}


nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
}

nav ul li a:hover {
    color: #3f72af;
}

a.btn-contact {
    background: #021075;
    border-radius: 20px;
    padding: 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-contact:hover {
    background: #3f72af;
    color: #FFFFFF;
    text-decoration: none;
}

/*hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #2f4473;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    position: absolute;
    width: 30px;
    height: 29.5px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

/* Hamburger animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: #233356;
    transform: rotate(45deg) translate(1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: #233356;
    transform: rotate(-45deg) translate(1px, 0px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

nav ul.slide {
    background-color: #ffffff;
    opacity: 0.8;
    transform: translateX(0);
}

/* MAIN SECTION */
main {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin: auto !important;
    padding: 0 7%;
}

aside {
    padding: 50px 7%;
}

.kolom h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 48px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.btn-hire {
    background: #021075;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-hire:hover {
    background: #3f72af;
    text-decoration: none;
}

.kolom p {
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    line-height: 1.35;
    font-size: 18px;
    text-align: justify;

}

/* SKILLS */
.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-judul {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 42px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    width: 250px;
    background-color: #ffffff;
    margin: 0px 3%;
    padding: 3%;
}

.card img {
    width: 100%;
}

.card-content h3 {
    font-size: 28px;
    margin-top: 1px;
    text-align: center;
}

/* Portfolio Section */
#portfolio-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.portfolio-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.portfolio-details {
    padding: 15px;
}

.portfolio-details h3 {
    font-size: 20px;
    color: #000000;
}

.portfolio-details p {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

.portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.portfolio-button.github {
    background-color: #000;
    color: #fff;
}

.portfolio-button.figma {
    background-color: #477df1;
    color: #fff;
}

.portfolio-button:hover {
    background-color: #3f72af;
    border: 1px solid #3f72af;
}



/* Blog Section */
#blog-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.blog-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    max-width: 350px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: -1px 4px 20px 0px rgb(27, 105, 201);
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-details {
    padding: 15px;
}

.blog-details h3 {
    font-size: 20px;
    color: #364f6b;
}

.blog-details p {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    text-align: justify;
}

.blog-button {
    display: inherit;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.blog-button.readmore {
    background-color: #3f72af;
    color: #fff;
}

.blog-button.readmore:hover {
    background-color: #233356;
    border: 1px solid #233356;
}

/* contact */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-form {
    flex: 1;
    padding: 0px 12%;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center; 
    max-width:  65%; 
    margin-bottom: 25px;
  
}
.contact-input {
    margin-bottom: 20px;
}

.contact-input label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left; 
}

.contact-input input,
.contact-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; 
}

.contact-input textarea {
    resize: vertical;
}
.contact-input label {
    max-width: 100%;
}

button[type="submit"] {
    background-color: #021075;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    margin: 0 auto; 
}

button[type="submit"]:hover {
    background-color: #3f72af;
}

/* Footer*/
footer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.footer-logo a {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

.footer-logo span {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: #477df1;
}

.footer-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-icons a {
    color: #fff;
    font-size: 24px;
}

.footer-contact-info {
    text-align: center;
    max-width: 200px;
}

.footer-contact-info .icon {
    color: #fff;
    font-size: 24px;
    padding: 10px;
}
.footer-contact-info a {
    color: #fff;
    text-decoration: none;
}
